= form_for @gist do |f|
  - if @gist.errors.any?
    #error_explanation
      %h2= "#{pluralize(@gist.errors.count, "error")} prohibited this gist from being saved:"
      %ul
        - @gist.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :short_name
    = f.text_field :short_name
  -#.field
  %ul#gFilesList
    = f.fields_for :g_files do |ff|
      %li
        .field
          = ff.label :filename
          = ff.text_field :name
        .field
          = ff.label :contents
          = ff.text_area :contents
        = ff.button "Add File", type: 'button', id: 'default-g_file'
        -#= button_tag "Add File", type: 'button', id: 'default-file'
  .actions
    = f.submit 'Save'