= form_with model: gist, local: true do |f|
  - if gist.errors.any?
    #error_explanation
      %h2= "#{pluralize(gist.errors.count, "error")} prohibited this gist from being saved:"
      %ul
        - gist.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :description, class: 'sr-only'
    = f.text_field :description, class: 'form-control', placeholder: "Gist description..."
  .form-group
    = f.fields_for :short_url do |ff|
      = ff.label :value, class: 'sr-only'
      = ff.text_field :value, class: 'form-control', placeholder: "Optional custom url path"
      %small Up to 16 alphanumeric characters plus '-' and '_'
  .form-group
    = f.hidden_field :user_id, :value => current_user.id
  #gFiles
    #g_file_group_0
      = f.fields_for :g_files do |ff|
        .form-group
          = ff.label :filename, class: 'sr-only'
          = ff.text_field :filename, class: 'form-control', placeholder: "Filename including extension"
        .form-group
          = ff.label :contents, class: 'sr-only'
          = ff.text_area :contents, class: 'form-control', placeholder: 'File contents...', rows: 10
    .form-group.float-left
      = f.button "Add File", type: 'button', class: 'btn btn-secondary', id: 'addGFile', onclick: 'addGFileField()'
    .form-group.float-right
      - if gist.persisted?
        = link_to 'Delete', gist, method: :delete, class: 'text-danger', data: { confirm: 'Are you sure?' }
      .button-group
        = f.submit 'Submit', class: 'btn btn-primary'
        - if gist.persisted?
          = link_to 'Cancel', gist, class: 'btn btn-link'
        - else
          = link_to 'Cancel', gists_path, class: 'btn btn-secondary'