%h1 Listing gists

%table
  %thead
    %tr
      %th Description
      %th Short Name
      %th
      %th
      %th

  %tbody
    - @gists.each do |gist|
      %tr
        %td= gist.description
        %td= gist.short_url
        %td= link_to 'Show', gist
        %td= link_to 'Edit', edit_gist_path(gist)
        %td= link_to 'Destroy', gist, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Gist', new_gist_path
