
.row
  .col-sm-6
    %h1 Listing gists

  .col-sm-6.text-right
    = link_to 'Add New Gist', new_gist_path, class: 'btn btn-primary'

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Description
        %th User
        %th Short Url
    %tbody
      - @gists.each do |gist|
        = content_tag :tr, id: dom_id(gist), class: dom_class(gist) do
          %td= gist.description
          %td= gist.user.email
          %td= gist.short_url
          %td= link_to 'Show', gist
        -#%td= link_to 'Edit', edit_gist_path(gist)
        -#%td= link_to 'Destroy', gist, method: :delete, data: { confirm: 'Are you sure?' }

%br

-#= link_to 'New Gist', new_gist_path
