.page-header
  .row
    .col
      %h1 Show gist
    .col.text-right
      = link_to gists_path, class: 'btn btn-default' do
        %span{class: "glyphicon glyphicon-list-alt"}
        All Gists
      - if @gist.user == current_user
        = link_to edit_gist_path(@gist), class: 'btn btn-primary' do
          %span{class: "glyphicon glyphicon-pencil"}
          Edit

%dl.dl-horizontal
  %dt Description
  %dd= @gist.description

  %dt Short URL
  - @link ="http://#{@host_addr}/#{@gist.short_url.value}"
  %dd= link_to @link, @link

  %dt User
  %dd= current_user.email

%p
  %h3 Files
  - @gist.g_files.each do |g_file|
    .card.mb-4
      .card-header
        %strong= g_file.filename
      #myCardBody{ style: "font-family: monospace;"}
        .card-body
          %p= g_file.contents

%h3 Comments
#comments
  = render partial: "comments/form", locals: { commentable: @gist }
  - if params[:comment]
    %p
      Single comment thread.
      = link_to "View all comments", url_for()
  = render @comments, continue_thread: 5

%br
  .d-flex.just.justify-content-center
    = paginate @comments, theme: 'twitter-bootstrap-4'

