.page-header
  .row
    .col
      %h1 Show gist
    .col.text-right
      = link_to gists_path, class: 'btn btn-default' do
        %span{class: "glyphicon glyphicon-list-alt"}
        All Gists
      - if user_signed_in? && @gist.user == current_user
        = link_to edit_gist_path(@gist), class: 'btn btn-primary' do
          %span{class: "glyphicon glyphicon-pencil"}
          Edit

%dl.dl-horizontal
  %dt Description
  %dd= @gist.description

  %dt Short URL
  - @link ="http://#{@host_addr}/#{@gist.short_url.value}"
  %dd= link_to @link, @link

  %dt User
  %dd= @gist.user.email

%p
  %div{data: {controller: "gist-show"}}
    %h3.d-inline.pr-2 Files
    = link_to "#{gist_path(@gist)}/send_file_data" do
      %span.glyphicon.glyphicon-download-alt
    - @gist.g_files.each do |g_file|
      .card.mb-4
        .card-header
          %strong{data: {target: "gist-show.gFilename"}}= g_file.filename
          .float-right
            = link_to "#{gist_g_file_path(@gist, g_file)}/#{g_file.filename}" do
              %span.glyphicon.glyphicon-download-alt
        #myCardBody{ style: "font-family: monospace;"}
          .card-body
            %textarea{data: {target: "gist-show.gContentsTextArea"}}=g_file.contents

%h3 Comments
#comments
  - if user_signed_in?
    = render partial: "comments/form", locals: { commentable: @gist }
  - if params[:comment]
    %p
      Single comment thread.
      = link_to "View all comments", url_for()
  = render @comments, continue_thread: 5

%br
  .d-flex.just.justify-content-center
    = paginate @comments, theme: 'twitter-bootstrap-4'

